.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

header {
  box-shadow: var(--shadow-sm);
  padding: 1rem .6rem;
  margin-bottom: 20px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }


}

main {
  padding-bottom: 40px;
  max-width: 65%;
  min-height: 70vh;
  margin: auto;
}

footer {
  color: var(--color-cream);
  background: var(--color-dark-brown);
  padding: 3rem;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  ul {
    font-size: .8rem;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.6rem;
  }

  a {
    color: var(--color-cream);
  }
}

@media screen and (max-width: 1280px) {
  main {
    max-width: 95%;
  }
}

@media screen and (max-width: 768px) {
  header .container {
    justify-content: center;
    padding: 0;
  }


  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 18px;
  }
}